.layouts {
  display: flex;
  justify-content: center;
}

.layout {
  position: relative;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  box-shadow: rgba(10, 31, 68, 0.06) 0px 0px 10px 0px;
  background: white;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
  cursor: pointer;
  transition: 200ms;
}

.layout:hover {
  transform: scale(1.05);
}

.layout-active:hover {
  transform: none;
}

.layout-active {
  background: transparent;
  box-shadow: none;
}

.layout-active:before {
  display: block;
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 1px solid #4a4a4a;
  border-radius: 13px;
  padding: 3px;
}
