.tabs {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 60px;
}

.tabs :global(.ui.buttons) {
  box-shadow: rgba(10, 31, 68, 0.15) 0px 2px 16px 0px !important;
  border-radius: 20px;
  background: white;
}

.tabs :global(.ui.black.button) {
  border-radius: 20px !important;
}

.tabs :global(.ui.basic.black.button) {
  border: none !important;
  box-shadow: none !important;
  font-weight: normal;
  color: black !important;
}

.tabs :global(.ui.button) {
  font-size: 15px !important;
}
