.resize-handle {
  display: none;
  z-index: 100;
}

.root.active .resize-handle {
  display: block;
}

.moveable {
  position: absolute;
  cursor: move;
  z-index: 1000; /* moveable */
}
.moveable:after,
.moveable:before {
  position: absolute;
  display: block;
  content: "";
  z-index: 9003 !important;
}

.moveable:before {
  left: -2px;
  top: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border: 1px dotted transparent !important;
}
.moveable:after {
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px dotted transparent !important;
  display: none !important;
}

.moveable.active:before,
:global(.canvas-wrapper:not(.is-dragging-inserted-item))
  .moveable:hover:before {
  border-color: black !important;
}

.moveable.active:after,
:global(.canvas-wrapper:not(.is-dragging-inserted-item)) .moveable:hover:after {
  border-color: white !important;
}

.moveable > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
