.color-input-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 14px;
}

.color-input-wrapper .input input {
  width: 171px;
  border-right: none;
}

.color-input-wrapper .label {
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  margin-right: 0;
  width: 25px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(178, 178, 179);
  box-shadow: 0 3px 4px 0px #d4d4d5c9;
}

.color-input-wrapper.with-picker .label {
  box-shadow: none;
}

.color-picker {
  position: absolute;
  width: 203px !important;
  bottom: 46px;
  left: -5px;
  box-shadow: 0 -3px 12px 0px #d4d4d5c9 !important;
  border: 1px solid rgba(34, 36, 38, 0.17);
  border-radius: 0.28571429rem !important;
  overflow: hidden;
  padding-bottom: 10px;
  z-index: 1;
}

.flexbox-fix:last-child {
  display: none !important;
}

.flexbox-fix:first-child > div:first-child {
  display: none;
}

.saturation-black {
  height: calc(100% + 1px); /* I have no fucking idea, CSS */
}
