.color-input-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 14px;
}

.color-input-wrapper input {
  width: 164px;
  padding-right: 5px !important;
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.color-input-wrapper .color-swatch {
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0;
  margin-right: 0;
  width: 33px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 179, 0.4);
  box-shadow: 0 3px 4px 0px #bebebec9;
  flex-shrink: 0;
}

.color-input-wrapper.with-picker .color-swatch {
  box-shadow: none;
}

.color-picker {
  position: absolute;
  bottom: 46px;
  left: -16px;
  box-shadow: 0 -3px 12px 0px #d4d4d5c9 !important;
  border: 1px solid rgba(34, 36, 38, 0.17);
  border-radius: 0.28571429rem !important;
  overflow: hidden;
  z-index: 1;
}
