.mini-card {
  position: relative;
}

.mini-preview {
  width: 100%;
  height: 208px;
  background-size: cover;
  background-position: center;
  float: left;
}

.hero-mode .mini-preview {
  height: 240px;
}

.hero-mode .mini-title {
  display: none;
}

.thumb-only-mode .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(0deg, white, transparent) !important;
  opacity: 0;
  transition: 300ms;
}

.thumb-only-mode:hover .content,
.thumb-only-mode:hover .use-button {
  opacity: 1;
}

.thumb-only-mode:hover .mini-preview {
  animation: hue-spin 10s linear infinite;
}

.use-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  margin-left: -35px;
  text-align: center;
  height: 70px;
  margin-top: -35px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  background: radial-gradient(
    farthest-corner at 7px 6px,
    #ffffff2b 0%,
    #ffffff2b 20%,
    #ffffff 100%
  );
  border-radius: 50% !important;
  opacity: 0;
  transition: 300ms;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.use-button :global(.icon) {
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-top: 4px;
}

:global(.ui.cards > .card) .use-button,
:global(.ui.card:first-child) .use-button,
:global(.ui.cards > .card:first-child) .use-button {
  border-color: transparent !important;
  border-radius: 50% !important;
  border: 1px solid #ffffff8a !important;
}

.thumb-only-mode .mini-author {
  color: black;
}

.thumb-only-mode .mini-by-author {
  color: #000000b0;
}

.thumb-only-mode .mini-title {
  display: none;
}

:global(.ui.cards > .card).thumb-only-mode,
.thumb-only-mode .mini-preview {
  width: 205px;
  height: 205px;
}

.mini-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1px;
  text-transform: lowercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-author {
  font-size: 13px;
  color: #000000b0;
}

.mini-by-author {
  color: #b3b3b3;
  margin-right: 4px;
  font-size: 13px;
}

@keyframes hue-spin {
  100% {
    filter: hue-rotate(360deg);
  }
}
