.mini-card {
  position: relative;
}

.mini-preview {
  width: 100%;
  height: 208px;
  background-size: cover;
  background-position: center;
  float: left;
}

.mini-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1px;
}

.mini-author {
  font-size: 13px;
  color: #000000b0;
}

.mini-by-author {
  color: #b3b3b3;
  margin-right: 4px;
  font-size: 13px;
}
