.mini-card {
  position: relative;
}

.mini-card:hover {
  transform: scale(1.05);
}

.mini-card.thumb-only-mode:hover {
  transform: scale(1.25);
  z-index: 999;
}

.mini-preview {
  width: 100%;
  height: 208px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.hero-mode .mini-preview {
  height: 240px;
}

.hero-mode .mini-title {
  display: none;
}

.thumb-only-mode {
  width: 70px !important;
  height: 70px !important;
  margin: 0em 0.5em 1em 0.5em !important;
}

.thumb-only-mode .mini-preview {
  width: 70px !important;
  height: 70px;
  opacity: 0.8;
}

.thumb-only-mode:hover .mini-preview {
  opacity: 1;
}

.thumb-only-mode .content {
  display: none;
}

.thumb-only-mode .mini-author {
  color: black;
}

.thumb-only-mode .mini-by-author {
  color: #000000b0;
}

.thumb-only-mode .mini-title {
  display: none;
}

:global(.ui.cards > .card),
.mini-preview {
  width: 205px;
}

.mini-preview {
  height: 190px;
}

.mini-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1px;
  text-transform: lowercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-author {
  font-size: 13px;
  color: #000000b0;
}

.mini-by-author {
  color: #b3b3b3;
  margin-right: 4px;
  font-size: 13px;
}
