.mini-card {
  position: relative;
}

.mini-preview {
  width: 100%;
  height: 208px;
  background-size: cover;
  background-position: center;
  float: left;
}

.hero-mode .mini-preview {
  height: 240px;
}

.hero-mode .mini-title {
  display: none;
}

.preset-mode .content {
  display: none;
}

.preset-mode .mini-preview {
  height: 130px;
}

:global(.ui.card).preset-mode {
  margin-top: 0;
  margin-bottom: 0;
}

.mini-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1px;
  text-transform: lowercase;
}

.mini-author {
  font-size: 13px;
  color: #000000b0;
}

.mini-by-author {
  color: #b3b3b3;
  margin-right: 4px;
  font-size: 13px;
}
