.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  z-index: 1001;
}

.header-inner {
  padding: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: padding 200ms;
}

.minimized .header-inner {
  padding: 30px 40px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-symbol {
  position: relative;
  width: 37px;
  height: 30px;
  margin-right: 5px;
  transform: scale(0.85);
  display: flex;
  align-items: center;
}
.logo-symbol div {
  position: absolute;
}
.logo-symbol-block-1 {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: radial-gradient(farthest-corner at 7px 6px, #9bffe400, #9bffe4);
  border-radius: 100%;
  overflow: hidden;
}
.logo-symbol-block-2 {
  width: 9px;
  height: 25px;
  background: #00ff8f;
  position: absolute;
  left: 27px;
}
.logo-text {
  position: relative;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  font-size: 14px;
  display: inline-block;
  transform: scale(1.3);
  transform-origin: left;
}

.social-button {
  box-shadow: none !important;
  font-size: 18px !important;
  padding: 0 12px !important;
  color: black !important;
  background: none !important;
}

.add-code-button {
  font-weight: 400 !important;
  margin-left: 9px !important;
  margin-right: 15px !important;
  color: #0f0f0f !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
  margin-left: 20px !important;
}

.submit-button {
  padding-right: 18px !important;
  padding-left: 18px !important;
  font-weight: 500 !important;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 0.2px;
  padding: 13px 10px;
  margin-left: 16px !important;
}
.submit-button:global(.ui.icon.button > .icon) {
  font-size: 11px;
  margin-right: 1px !important;
}

.submit-button-wrapper {
  position: relative;
  display: inline-block;
}

.blank-card {
  position: absolute !important;
  left: 0;
  top: -13px;
  width: 100% !important;
  height: 100%;
  opacity: 0;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .contact-button,
  .add-code-button,
  .submit-button {
    display: none !important;
  }
}

@media screen and (max-width: 400px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}

@media screen and (max-width: 320px) {
  .header-inner {
    padding: 20px;
  }
}
