.root {
  margin-bottom: 0px;
}

.form-label {
  cursor: pointer;
}

.form-label span {
  margin-right: 7px;
}

.layers {
  display: flex;
  flex-direction: column-reverse;
  font-size: 14px;
  background: #f7f7fa;
  border-radius: 0.28571429rem;
  overflow: hidden;
  margin-top: 8px;
}

.collapse-icon {
  opacity: 0.4 !important;
}

.layer {
  padding: 10px 15px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
}

.label {
  flex-grow: 1;
  flex-shrink: 1;
}

.actions {
  display: none;
  flex-shrink: 0;
}

.layer:hover .actions {
  display: block;
}

.layer.active {
  background: black;
  color: white;
  border-radius: 0.28571429rem;
}

.remove-icon {
  margin-left: 5px !important;
}
