.add-text-icon {
  display: block;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 4px;
  font-family: "Times New Roman", Times, serif;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input-label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.label {
  position: relative;
  margin-left: 16px !important;
  margin-right: 16px !important;
  margin-bottom: 15px !important;
  margin-top: 0 !important;
}

.see-all {
  position: absolute;
  font-weight: normal;
  cursor: pointer;
  top: 144px;
  z-index: 111;
  left: 176px;
  font-size: 13px;
}

.see-all:hover {
  text-decoration: underline;
}

.add-object-cards {
  left: 0;
  width: 100%;
  max-height: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-bottom: 30px;
}

:global(.ui.labeled.icon.menu .item > .icon:not(.dropdown)).plus-icon {
  position: absolute;
  left: 8px;
  top: 10px;
  font-size: 7px !important;
}

.object-card:nth-child(6) {
  opacity: 0.2;
  pointer-events: none;
}
