.add-text-icon {
  display: block;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 4px;
  font-family: "Times New Roman", Times, serif;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input-label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.add-object-cards {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  max-height: calc(100% - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-bottom: 40px;
}
