#preview {
  width: 100%;
  height: 100%;
}

.ui.active.dimmer {
  cursor: pointer;
}

.ui.active.modal {
  cursor: default;
}

.ui.modal {
  width: auto;
}

.ui.modal .modal-content.content {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.ui.modal > .close {
  top: -2.5rem;
  right: -2.5rem;
  opacity: 0.9;
}

.ui.circular.button {
  position: relative;
  border-radius: 100%;
  background: white;
  color: black;
  box-shadow: 0 3px 4px 0px #b7b7b7;
  opacity: 0.75;
}

.ui.circular.button:active {
  box-shadow: 0 0px 4px 0px #b7b7b7;
}

.ui.labeled.icon.button {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 13px;
  box-shadow: 0 3px 4px 0px #d4d4d51f;
  color: #656565;
  padding-left: 2.471429em !important;
  padding-right: 1.2em !important;
  background: #ffffff none;
  border: 1px solid rgb(177, 177, 177);
}
