.ui.active.dimmer {
  cursor: default;
}

.ui.active.dimmer {
  z-index: 1002;
}

.ui.active.dimmer.inverted {
  z-index: 1000;
  cursor: pointer;
}

.ui.active.modal {
  cursor: default;
}

.ui.modal {
  width: auto;
}

.ui.modal .modal-content.content {
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.ui.modal > .close {
  top: -2.7rem;
  right: -0.7rem;
  opacity: 0.9;
  pointer-events: none; /* caught up by close-area click */
}

.ui.circular.button {
  position: relative;
  border-radius: 100%;
  background: white;
  color: black;
  box-shadow: 0 3px 4px 0px #b7b7b7;
  opacity: 0.8;
}

.ui.circular.button:active {
  box-shadow: 0 0px 4px 0px #b7b7b7;
}

.ui.loading.button {
  height: 36px;
  width: 36px;
  padding: 0;
}

.ui.labeled.icon.button {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 13px;
  box-shadow: 0 3px 4px 0px #d4d4d51f;
  color: #656565;
  padding-left: 2.471429em !important;
  padding-right: 1.2em !important;
  background: #ffffff none;
  border: 1px solid rgb(177, 177, 177);
}

.below-tabs-zone {
  position: absolute;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100001; /* overcome collapse-button */
}

.below-tabs-zone::-webkit-scrollbar-thumb,
.below-tabs-zone::-webkit-scrollbar-track {
  visibility: hidden;
}

.below-tabs-zone:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.tab-menu {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  border-radius: 0 !important;
  border-left: 0 !important;
  box-shadow: none !important;
  margin-top: 19px;
  border: none !important;
  margin-left: 1px !important;
  margin-top: 10px !important;
  background: transparent !important;
}

.tab-menu-item {
  position: relative;
  padding: 10px 1px !important;
  cursor: pointer;
  min-width: 60px !important;
  border-radius: 4px;
  margin: 0 5px;
}
.tab-menu-item:before {
  display: none;
}
.tab-menu-item.active {
  background: rgba(0, 0, 0, 0.05);
}
.tab-menu-item:not(.active):hover {
  background: none !important;
}
