.the-modal :global(.modal-content.content) {
  width: calc(100vw - 50px);
  height: calc(100vh - 80px);
}

.close-area {
  position: absolute;
  left: 0;
  top: -40px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-area span {
  display: none;
  color: white;
}

.close-area:hover span {
  display: inline;
}

.the-modal::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  left: -40px;
  z-index: 1;
}

.sidebar-collapse-button {
  position: absolute;
  width: 24px;
  height: 84px;
  margin-top: -42px;
  right: -12px;
  z-index: 100000;
  top: 50%;
  color: white;
  cursor: pointer;
}

.collapse-icon {
  position: absolute;
  right: 0;
  top: 50%;
  color: black;
  margin-top: -5px !important;
}

.sidebar-collapse-button svg {
  width: 100%;
  height: 100%;
}

.config-over-preview {
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90001;
}

.copy-paste-buttons {
  margin-right: 30px !important;
}

.remove-active-item-button {
  margin-left: 30px !important;
}

.config-over-left-buttons,
.config-over-right-buttons {
  display: inline-flex;
  align-items: center;
}

.config-over-left-buttons button {
  box-shadow: 0 3px 4px 0px #e0e0e2 !important;
  background: rgba(255, 255, 255, 0.7) !important;
  color: black !important;
  opacity: 0.9 !important;
}

.config-over-right-buttons > * {
  margin-right: 14px !important;
}

.config-over-left-buttons > *:last-child,
.config-over-right-buttons > *:last-child {
  margin-right: 0 !important;
}

.pause-button i,
.refresh-button i {
  color: #000000d9 !important;
}

.dimensions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.dimension-times {
  margin: 0 10px;
  font-size: 17px;
  opacity: 0.7;
}

.dimension-input > input {
  width: 64px !important;
  box-shadow: none !important;
  opacity: 0.75 !important;
  text-align: center !important;
}

.modal-central-area {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f7f7fa;
}

.download-button {
  position: relative !important;
  background: white !important;
  color: black !important;
  box-shadow: 0 3px 4px 0px #b7b7b766 !important;
  opacity: 0.9 !important;
}

.download-button:active {
  box-shadow: 0 0px 4px 0px #b7b7b7 !important;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas {
  position: absolute;
  /* 100px duplicated in Modal.js as CANVAS_MARGIN */
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background: transparent;
}

.padding-overlay {
  position: absolute;
  background: #f7f7fa;
  z-index: 9000;
  pointer-events: none;
}

.padding-overlay-left {
  left: 0;
  top: 0;
}

.padding-overlay-right {
  right: 0;
  top: 0;
}

.padding-overlay-top {
  top: 0;
  left: 0;
  width: 100%;
}

.padding-overlay-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
}

.capture-frame {
  position: fixed;
  top: -1000000;
  left: 0;
  z-index: 10000000;

  top: -200px;
  transform: scale(0.2);
}

.captured-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.captured-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layers {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.title-container {
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  font-size: 18px;
  background: white;
  border-top-left-radius: 0.28571429rem;
  overflow: hidden;
  font-weight: 600;
  flex-shrink: 0;
  transition: all 200ms;
}

.by-author {
  font-size: 13px;
  font-weight: normal;
  margin-right: 4px;
  color: #b3b3b3;
}

.author {
  font-size: 14px;
  font-weight: normal;
  color: #000000b0;
}

.codepen-icon {
  margin-left: 4px !important;
}

.modal-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

.modal-sidebar.is-collapsed {
  background: #f7f7fa;
}

.modal-sidebar.is-collapsed .sidebar-collapse-button {
  display: none;
}

.modal-left-sidebar {
  width: 280px;
}

.modal-sidebar .dropdown {
  width: 100%;
}

.modal-sidebar .input {
  width: 100%;
}

.modal-right-sidebar {
  overflow-x: hidden;
  overflow-y: auto;
}

.config-container {
  padding: 30px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;

  /* override below tab zone */
  position: static;
  margin-top: 105px;
}

.config-container > *:last-child {
  margin-bottom: 30px;
}

.title {
  display: inline-block;
  margin-bottom: 1px;
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* SPINNING CIRCLE */

.circle-border {
  width: 150px;
  height: 150px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #9bffe400 33%, #ffffff 100%);
  animation: spin 0.8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #f7f7fa;
  border-radius: 50%;
}

.inserted-item {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
