.the-modal :global(.modal-content.content) {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
}

.the-modal::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  left: -40px;
  z-index: 1;
}

.config-over-preview {
  width: 100%;
  padding: 30px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.config-over-left-buttons,
.config-over-right-buttons {
  display: inline-flex;
  align-items: center;
}

.config-over-left-buttons > *,
.config-over-right-buttons > * {
  margin-right: 14px !important;
}

.config-over-left-buttons > *:last-child,
.config-over-right-buttons > *:last-child {
  margin-right: 0 !important;
}

.pause-button i,
.refresh-button i {
  color: #000000d9 !important;
}

.dimensions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.dimension-times {
  margin: 0 10px;
  font-size: 17px;
  opacity: 0.7;
}

.dimension-input > input {
  width: 64px !important;
  box-shadow: none !important;
  opacity: 0.75 !important;
  text-align: center !important;
}

.modal-right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f7f7fa;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas,
.canvas-shadow {
  position: absolute;
  /* 100px duplicated in Modal.js as IFRAME_MARGIN */
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background: transparent;
}

.canvas-shadow {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  z-index: 100;
  pointer-events: none;
}

.iframe {
  width: 100%;
  height: 100%;
}

.capture-frame {
  position: absolute;
  top: -10000px;
}

.captured-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.captured-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layers {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.title-container {
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 20px;
  padding-right: 10px;
  font-size: 18px;
  background: white;
  border-top-left-radius: 0.28571429rem;
  overflow: hidden;
  font-weight: 600;
  flex-shrink: 0;
  transition: all 200ms;
}

.by-author {
  font-size: 13px;
  font-weight: normal;
  margin-right: 4px;
  color: #b3b3b3;
}

.author {
  font-size: 14px;
  font-weight: normal;
  color: #000000b0;
}

.codepen-icon {
  margin-left: 4px !important;
}

.modal-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.modal-sidebar .dropdown {
  width: 100%;
}

.modal-sidebar .input {
  width: 100%;
}

.config-container {
  padding: 20px 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  border-radius: 0 4px 0 0;
  height: 100%;
}

.title {
  display: inline-block;
  margin-bottom: 1px;
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* SPINNING CIRCLE */

.circle-border {
  width: 150px;
  height: 150px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #9bffe400 33%, #ffffff 100%);
  animation: spin 0.8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #f7f7fa;
  border-radius: 50%;
}

.inserted-item {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
