.resizable {
  position: relative;
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px 1px rgba(14, 19, 24, 0.15),
    0 0 0 1px rgba(14, 19, 24, 0.15);
}

.handle.top {
  top: -6px;
  left: 50%;
  margin-left: -5px;
}

.handle.bottom {
  bottom: -6px;
  left: 50%;
  margin-left: -5px;
}

.handle.left {
  left: -6px;
  top: 50%;
  margin-top: -5px;
}

.handle.right {
  right: -6px;
  top: 50%;
  margin-top: -5px;
}

.handle.top-right {
  top: -6px;
  right: -6px;
}

.handle.top-left {
  top: -6px;
  left: -6px;
}

.handle.bottom-left {
  bottom: -6px;
  left: -6px;
}

.handle.bottom-right {
  bottom: -6px;
  right: -6px;
}
