.root {
  margin-bottom: 15px;
}

.colors-number-selector {
  padding: 0.78571429rem 1.14285714rem !important;
  display: flex;
}

.colors-number {
  padding: 3px;
  border: 1px solid #999;
  border-radius: 5px;
  width: 30px;
  text-align: center;
  margin-right: 9px;
  font-size: 11px;
  cursor: pointer;
}

.colors-number.active {
  background: #676767;
  color: white;
}

.palette-dropdown-wrapper {
  position: relative;
  z-index: 0;
}

.palette-dropdown-wrapper.active {
  z-index: 1;
}

.palette-dropdown-wrapper .selected-value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 16px;
  z-index: 100;
}

.palette-paddles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  box-sizing: border-box;
  height: 40px;
  height: 14px;
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: 18px;
  opacity: 0.7;
}

.root:hover .palette-paddles {
  opacity: 1;
}
.paddle-button {
  cursor: pointer;
  user-select: none;
}

.paddle-button:hover {
  text-decoration: underline;
}

.mini-color-container {
  display: flex;
  pointer-events: none;
}

.mini-color {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  pointer-events: none;
}

.mini-color:first-child {
  margin-left: 0;
}

.mini-color:last-child {
  margin-right: 0;
}
