.slider-wrapper {
  position: relative;
  margin-top: 10px;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: -3px;
}

.input {
  width: 55px;
  margin-top: 12px;
  position: relative;
}

.input > input {
  box-shadow: none !important;
}

.value-input {
}

.value-input-wrapper {
  position: absolute !important;
  left: 30px;
  margin-left: -18px;
  top: -58px;
  z-index: 1;
}

.value-input-wrapper input {
  text-align: center !important;
}

.slider-tooltip {
  z-index: 1000;
}
