.slider {
  margin-top: 15px;
}

.range {
  display: flex;
  justify-content: space-between;
}

.ui.input.range-input {
  width: 55px;
  margin-top: 15px;
  position: relative;
}

.slider-tooltip {
  z-index: 1111;
}