.slider {
  margin-top: 10px;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: -3px;
}

.ui.input.range-input {
  width: 55px;
  margin-top: 12px;
  position: relative;
}

.ui.input.range-input > input {
  box-shadow: none;
}

.slider-tooltip {
  z-index: 1111;
}
