@import url("https://fonts.googleapis.com/css?family=Cute+Font|Montserrat|Merriweather");

.button-bold {
  font-weight: bold !important;
}

.button-italic {
  font-style: italic !important;
}

.button-underline {
  text-decoration: underline !important;
}

.delete-button {
  width: 100% !important;
  margin-top: 25px !important;
  color: hsla(3, 56%, 52%, 1) !important;
  border: 1px hsla(3, 56%, 72%, 1) solid !important;
  background: transparent !important;
  box-shadow: none !important;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-helvetica {
  font-family: Helvetica, sans-serif;
}

.font-times-new-roman {
  font-family: "Times New Roman", Times, serif;
}

.font-merriweather {
  font-family: "Merriweather", serif;
}

.font-cute-font {
  font-family: "Cute Font", cursive;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
