@import url("https://fonts.googleapis.com/css?family=Cute+Font|Montserrat|Merriweather|Stylish|Gugi");

.button-bold {
  font-weight: bold !important;
}

.button-italic {
  font-style: italic !important;
}

.button-underline {
  text-decoration: underline !important;
}

.delete-button {
  width: 100% !important;
  margin-top: 25px !important;
  color: hsla(3, 56%, 52%, 1) !important;
  border: 1px hsla(3, 56%, 72%, 1) solid !important;
  background: transparent !important;
  box-shadow: none !important;
}
