.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 1080px;
  height: 1080px;
  transform-origin: left top;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none !important;
}
