.root {
  position: relative;
}

.menu-item,
:global(.ui.selection.dropdown .menu) > .menu-item {
  height: 30px !important; /* duplicated in JS */
  padding: 8px 10px !important;
}

.menu-item > img {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}

.menu-item > span {
  display: none;
}
