.root {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 8px;
  cursor: move;
  z-index: 10;
  border: 1px transparent dotted;
}

.root:hover,
.root:hover .inserted-text-block {
  border-color: black;
}

.root:hover .inserted-text-block-inner {
  border-color: white;
}

.inserted-text-block {
  cursor: text;
  line-height: 1.2;
  display: inline-block;
  border: 1px transparent dotted;
}

.inserted-text-block-inner {
  border: 1px transparent dotted;
  display: inline-block;
}
