.root {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.root.with-initial-position {
  left: 0;
  top: 0;
}

.root.draggable {
  padding: 8px;
  border: 1px transparent dotted;
  margin-left: -8px;
  margin-top: -8px;
  cursor: move;
}

.root:hover,
.root:hover .inserted-text-block,
.root.active .inserted-text-block {
  border-color: black;
}

.root:hover .inserted-text-block-inner,
.root.active .inserted-text-block-inner {
  border-color: white;
}

.inserted-text-block {
  cursor: text;
  line-height: 1.2;
  display: inline-block;
  border: 1px transparent dotted;
}

.inserted-text-block-inner {
  border: 1px transparent dotted;
  display: inline-block;
  outline: none;
}
