/* cyrillic */
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic");

.text {
  display: block;
  outline: none;
  line-height: 1.1;
  user-select: none;
  pointer-events: none;
  cursor: inherit;
}

.text.editable {
  cursor: text;
  user-select: auto;
  pointer-events: all;
}
