.group-modal-content {
  padding: 20px !important;
  width: 800px !important;
  height: 690px !important;
  overflow-y: scroll !important;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
