.root-wrapper {
  position: relative;
  width: 100%;
  max-width: 1084px;
  margin: auto;
  margin-bottom: 40px;
}

.view-all {
  position: absolute;
  top: -35px;
  right: 0;
  cursor: pointer;
}

.view-all:hover {
  text-decoration: underline;
}

.root {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.root > * {
  flex-shrink: 0;
}

.expanded .view-all {
  display: none;
}

.expanded .root {
  flex-wrap: wrap;
  overflow: visible;
}
