.main-content-area {
  min-height: calc(100vh - 116px /* header */ - 123px /* footer */);
  box-sizing: border-box;
  padding: 60px 0;
}

@media screen and (max-width: 400px) {
  .App {
    padding-top: 90px;
  }
}
