body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.ui.selection.dropdown,
.ui.input > input {
  border-color: rgba(34, 36, 38, 0.35);
}

.user.icon {
  transform: scale(0.9);
  margin-right: 6px;
}

.form-label {
  margin-top: 25px;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}
.form-label:first-child {
  margin-top: 5px;
}

.restricted-width-area {
  width: 100%;
  max-width: 1220px;
  margin: auto;
}

.cards {
  justify-content: center;
}

.ui.modal {
  width: 70vw;
}

/* .ui.modal > .close {
  color: black;
} */

.ui.modal > .content {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.modal-sidebar {
  position: relative;
  background: #f9fafb;
  width: 260px;
  height: 70vh;
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
  box-sizing: border-box;
}

.modal-sidebar .dropdown {
  width: 100%;
}

.modal-sidebar .input {
  width: 100%;
}

.mini-color-container {
  display: flex;
}

.mini-color {
  width: 17px;
  height: 17px;
  margin: 0 5px;
  border-radius: 50%;
}

.mini-color:first-child {
  margin-left: 0;
}

.mini-color:last-child {
  margin-right: 0;
}

.modal-preview {
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
  padding: 40px;
}

.preview {
  width: 100%;
  height: 100%;
}

.title-container {
  box-sizing: border-box;
  padding: 30px;
  font-size: 17px;
  background: white;
  border-top-left-radius: 0.28571429rem;
  font-weight: 600;
}

.config-container {
  padding: 30px;
}

.title {
  display: inline-block;
  margin-bottom: 2px;
}

.author {
  font-size: 14px;
  font-weight: normal;
}

.card {
  cursor: pointer;
}
