body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f8f9;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.ui.selection.dropdown,
.ui.selection.dropdown:hover,
.ui.input > input {
  border-color: rgba(34, 36, 38, 0.35);
  box-shadow: 0 3px 4px 0px #d4d4d5c9;
}

.user.icon {
  transform: scale(0.9);
  margin-right: 6px;
}

.form-label {
  margin-top: 25px;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}
.form-label:first-child {
  margin-top: 5px;
}

.restricted-width-area {
  width: 100%;
  max-width: 1220px;
  margin: auto;
}

.ui.card,
.ui.cards > .card {
  box-shadow: rgba(5, 45, 73, 0.07) 0px 1px 0px 1px;
}

.cards {
  justify-content: center;
  padding-top: 60px;
}

.ui.card,
.ui.cards > .card {
  width: 260px;
  overflow: hidden;
}

.card {
  cursor: pointer;
}
