.main-content-area {
  min-height: calc(100vh - 116px /* header */ - 123px /* footer */);
  box-sizing: border-box;
  padding: 60px 0;
}

.subheader {
  position: relative;
  width: 100%;
  max-width: 1084px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 20px;
  left: 0px;
  font-size: 17px;
}

.subheader:before {
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -24px;
  top: 3px;
  border-radius: 50%;
  background: radial-gradient(farthest-corner at 15px 17px, #ffffff, #9bffe4);
}

@media screen and (max-width: 400px) {
  .App {
    padding-top: 90px;
  }
}
