body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f7fa;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.ui.selection.dropdown,
.ui.selection.dropdown:hover,
.ui.input > input {
  border-color: rgba(34, 36, 38, 0.35);
  box-shadow: 0 3px 4px 0px #d4d4d5c9;
}

.ui.modal > .close {
  top: -2.2rem;
  right: -2.2rem;
}

.user.icon {
  transform: scale(0.9);
  margin-right: 6px;
}

.form-label {
  margin-top: 25px;
  margin-bottom: 6px;
  display: block;
  font-weight: 600;
}
.form-label:first-child {
  margin-top: 5px;
}

.restricted-width-area {
  width: 100%;
  max-width: 1220px;
  margin: auto;
}

.ui.toggle.checkbox {
  margin-top: 4px;
}

.ui.checkbox {
  z-index: 0;
}

.ui.checkbox input.hidden + label:before {
  background-color: #d9d9d9;
}

.ui.toggle.checkbox input:checked ~ .box:after,
.ui.toggle.checkbox input:checked ~ label:after,
.ui.checkbox input.hidden + label:after {
  box-shadow: 0 3px 8px 0px #a5a5a5c9;
  top: -1px;
  background: white;
}

.ui.card,
.ui.cards > .card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  margin: 0.9em 0.6em;
}

.cards {
  justify-content: center;
  padding-top: 60px;
}

.ui.card,
.ui.cards > .card {
  width: 260px;
  overflow: hidden;
}

.card {
  cursor: pointer;
}
