body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f7fa;
  padding-top: 140px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.ui.selection.dropdown,
.ui.selection.dropdown:hover,
.ui.input > input,
.ui.buttons > .ui.button:not(.basic):not(.inverted) {
  border-color: rgba(34, 36, 38, 0.24);
  box-shadow: 0 3px 4px 0px #bebebe9e;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #9dfae1 !important;
}

.user.icon {
  transform: scale(0.9);
  margin-right: 6px;
}

.ui.labeled.icon.button {
  box-shadow: 0 3px 4px 0px #d4d4d5c9; /* box-shadow: 0 3px 4px 0px #bebebe9e; */
  color: black;
  padding-left: 3.471429em !important;
  padding-right: 1.2em !important;
  background: white none;
  border: 1px solid rgb(202, 203, 203);
}

.ui.labeled.icon.button > .icon {
  background-color: rgba(0, 0, 0, 0.02);
}

.form-label {
  margin-top: 25px;
  margin-bottom: 6px;
  display: block;
  font-weight: 600;
}
.form-label:first-child {
  margin-top: 5px;
}

.restricted-width-area {
  width: 100%;
  max-width: 1365px;
  margin: auto;
}

.ui.toggle.checkbox {
  margin-top: 4px;
}

.ui.checkbox {
  z-index: 0;
}

.ui.toggle.checkbox input.hidden + label:before {
  background-color: #d9d9d9;
}

.ui.checkbox {
  opacity: 0.7;
  margin-right: 30px !important;
}

.ui.toggle.checkbox {
  opacity: 1;
}

.ui.toggle.checkbox input:checked ~ .box:after,
.ui.toggle.checkbox input:checked ~ label:after,
.ui.toggle.checkbox input.hidden + label:after {
  box-shadow: 0 3px 8px 0px #a5a5a5c9;
  top: -1px;
  background: white;
}

.ui.checkbox label:before {
  top: -1px;
}

.ui.checkbox input[type="checkbox"],
.ui.checkbox input[type="radio"],
.ui.checkbox label:before,
.ui.checkbox label:after {
  width: 19px;
  height: 19px;
}

.ui.cards {
  justify-content: center;
}

.ui.card,
.ui.cards > .card {
  width: 205px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  margin: 0.9em 0.6em;
}

.ui.card > .content,
.ui.cards > .card > .content {
  border-top: 0;
}

.ui.black.button:not(.basic),
.ui.black.button:not(.basic):active {
  background: black !important;
}
