.add-menu,
.add-object-menu {
  position: absolute;
  left: 15px;
  top: 70px;
  z-index: 10;
  border-radius: 6px !important;
}

.add-object-menu {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 6px !important;
  width: 245px;
  left: -70px;
  max-height: calc(100% - 100px);
  top: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index: 1000;
}

.add-object-cards {
  display: flex;
  flex-direction: column;
}

.object-card {
  width: 200px !important;
}

.add-menu-item {
  position: relative;
  padding: 10px 1px !important;
  min-width: 65px !important;
  cursor: pointer;
}
.add-menu-item:hover {
  background: none !important;
}

.add-text-icon {
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 3px;
  font-family: "Times New Roman", Times, serif;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input-label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
