:global(.ui.modal > .content).add-font-modal-content {
  width: 400px;
  min-height: 200px;
  padding-bottom: 35px;
}

.add-font-modal-content input {
  box-shadow: none !important;
}

.input-wrapper {
  width: 100%;
  margin: 10px 0;
}

.search-placeholder {
  text-align: center;
  color: #929292;
}

.search-placeholder a {
  color: #636363;
  text-decoration: underline;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  border-radius: 0.28571429rem;
  padding-left: 16px;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  color: #676767;
  cursor: pointer;
}

.search-result button {
  box-shadow: none !important;
  pointer-events: none;
  font-weight: bold !important;
}

.search-result:hover {
  background: #f7f7f7;
}

.search-result:hover,
.search-result:hover :global(.ui.basic.button) {
  color: black !important;
}

:global(i.icon).search-icon {
  opacity: 0.5;
  margin: 10px 0;
}
