.footer {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  background: white;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

.license {
  font-weight: bold;
  margin-bottom: 5px;
}
