.footer {
  width: 100%;
  background: white;
  border-top: 4px solid #f7f7fa;
  position: relative;
}

.footer-inner {
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.license {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
