.hero {
  width: 100%;
  max-width: 1070px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
}

.hero > * {
  width: 100%;
  overflow: hidden;
}

.hero-text-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-text {
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  margin-top: -28px;
  text-align: right;
}

.hero-text span {
  border-bottom: 5px solid #9bffe4;
}

.hero-preview {
  position: relative;
  overflow: visible;
}

.hero-preview .button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.ui.card.hero-preview-card {
  width: 100%;
  margin: 0;
}

.create-something {
  position: absolute;
  font-size: 24px;
  top: 50%;
  right: 60px;
  z-index: 1;
  line-height: 35px;
  margin-top: -74px;
  cursor: pointer;
}

.create-something .and {
  font-size: 17px;
  line-height: normal;
  position: relative;
  top: 3px;
}

.create-something .unique {
  font-weight: bold;
}

.hero-slider-dots {
  width: 100%;
  bottom: -30px;
  height: 10px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}

.hero-slider-dots .slider-dot {
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 100%;
  margin: 0 7px;
}

.slider-dot {
  background: #c4c4c4;
}

.active-slider-dot {
  background: #535252;
}
