.root {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 8px;
  /* duplicated in .js file */
  margin-top: -8px;
  margin-left: -8px;
  cursor: move;
  z-index: 10;
}

.root.with-initial-position {
  left: 0;
  top: 0;
}

.root.active,
.root.active .content-inner-wrapper,
:global(.canvas-wrapper:not(.has-active-inserted-item)) .root:hover,
:global(.canvas-wrapper:not(.has-active-inserted-item))
  .root:hover
  .content-inner-wrapper {
  border-color: black;
}

.root.active .content,
:global(.canvas-wrapper:not(.has-active-inserted-item)) .root:hover .content {
  border-color: white;
}

.content-inner-wrapper {
  float: left;
  cursor: move;
  line-height: 1.2;
  display: block;
  border: 1px transparent dotted;
  white-space: nowrap;
}

.content {
  border: 1px transparent dotted;
  display: block;
  outline: none;
}
